/* Header styles */
header {
  background-color: #623838;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  color: #000000;
  text-align: center;
  padding: 8px 0;
   
}
.logo{
  max-width: 150px;
  display: inline-block;
}
/* General styles */
body {
  font-family: 'Trirong Font', sans-serif;
  background-color: rgb(199, 157, 105	);
  color:#000000;
  margin: 0;
  padding: 0;
}
/* Headings */
h1 {
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  color: #000000;
  display: block;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
}

h3{
  font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#000000; 
    
}

h4 {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:#000000; 
    
}

h5 {
  font-size: medium;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  color:#000000; 
}

/* Paragraphs */
p {
  margin: 0.5rem 0;
  text-align: center;
}

/* Navbar */
nav {
  background-color: #808000;
  color: #090606;
  padding: 0.5px;
}

nav a {
  color: #090606;
  font-size: larger;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

nav a:hover {
  background-color:  #808000;
  color: #D3D3D3;
}
nav ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

nav li {
  display: inline;
  margin-right: 20px;
}

/* Columns */
.column {
  padding: 15px 20px;
}

.left-column {
  width: 60%;
}

.right-column {
  width: 40%;
}

.shop-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #623838;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.shop-card {
  border: 1px solid #D3D3D3;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  background-color:#D3D3D3
}

.shop-card h3 {
  color: #333;
}

.shop-card p {
  color: #666;
}

/* round image corners */
img{
  border-radius: 25px;
}

/* keep elements in box */
 *{
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

/* Define the table styles */
table {
  border-collapse: collapse;
  width: 50%;
  margin: 0 auto;
}
/* Specify table border */
table, th, td {
  border: 1px solid #623838;
}
/* Specify header styles */
th {
  background-color:  #623838;
  color: white; 
  font-family: Arial, sans-serif; 
  font-size: 16px; 
  padding: 10px; 
  text-align: center;
}
 /* Specify cell styles */
 td {
  font-family: Arial, sans-serif; 
  font-size: 14px; 
  padding: 10px; 
  text-align: center;
}
/* Specify background color for even rows */
tr:nth-child(even) {
  background-color: #a09393; /* Background color for even rows */
}
/* Specify text color for even and odd cells */
tr:nth-child(even) td {
  color: #000000; /* Text color for even cells */
}

tr:nth-child(odd) td {
  color: #000000; /* Text color for odd cells */
}
/* Specify background color for odd rows */
tr:nth-child(odd) {
  background-color: #6e6464; /* Background color for odd rows */
}
hr {
  height: 2px;
  background-color: #000000;
  border: none;
}

/* Footer */
footer {
  margin: 10px;
  padding: 14px 20px;
  background-color: #D3D3D3;
  color: #000000;
  text-align: center;
}
